.stick {
  background-color: #304f47;
  justify-content: space-between;
}

.stickContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding:0 70px ;
 
}

.span1,
.span2 {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.left {
  display: flex;

  flex-wrap: wrap;
  margin-top: 20px;
  gap: 30px;
  font-family: "Podkova";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
}

.right {
  display: flex;
  gap: 10px;

}

@media screen and (max-width: 425px) {
  .stickContent {
    display: flex;
    gap: 10px;
    flex-direction: column;
    max-width: 1100px;
    margin: auto;
    padding: 0;
  }

  .stick {
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
  }

  .right,
  .left {
    justify-content: center;
  }
}
