.address {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 80%;
  margin: auto;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  background-color: #fff;
  box-sizing: border-box;
  padding-left: 32px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form h3 {
  font-size: 16px;
}

.address__head {
  margin-bottom: 25px;
}

.address__head h1 {
  font-weight: 700;
  font-size: 62px;
  display: flex;
  justify-content: center;
}

.address__head p {
  font-weight: 400;
  font-size: 24px;
  color: #515151;
  padding-inline: 2vw;
  width: 75%;
  margin-inline: auto;
}

.address__names {
  display: flex;
  justify-content: space-between;
  width: 93%;
  gap: 40px;
}

.address__holder {
  width: 100%;
}

.address__names input {
  width: 92%;
  min-height: 48px;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  background: #fff;
  padding-left: 25px;
}

.address__address input {
  width: 90%;
  min-height: 48px;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  background: #fff;
  padding-left: 25px;
}

textarea {
  border: 1px solid #e1e1e1;
  background: #FFFFFF;
  border-radius: 8px;
  width: 90%;
  min-height: 120px;
  padding-left: 25px;
  margin-bottom: 20px;
  padding-top: 20px;
}

.medias {
  background: #ffffff;
  border: 1px solid #304f4733;
  border-radius: 30px;
  width: 270px;
  height: 157px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 15px;
}

.medias__main {
  display: flex;
  margin: 70px 0;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .address__names {
    flex-direction: column;
    width: 98%;
    justify-content: center;
    gap: 10px;
  }

  .address__address {
    width: 100%;
  }

  form {
    padding-inline: 6px 10px;
  }

  .medias__main {
    flex-direction: column;
  }

  .address__head p {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .address__head h1 {
    font-size: 42px;
  }
}
