.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../Images/lake.jpg");
    background-size: cover;
    background-position: center;
    height: 590px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
  
  .hero_Title {
    width: 75%;
    font-family: "Lora";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    font-weight: bold;
    line-height: 120%;
    letter-spacing: 0.003em;
    color: #fff;
  }
  
  .hero_para {
     width: 72%;
    margin-top: 1px;
    font-family: "lora";
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0.005em;
    color: #ffffff;
  }
  
  .Textcontent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-items: flex-end;
    width: 50%;
  }
  
  
.align {
  display: flex;
  gap: 22px;
  align-items: center;
  flex-wrap: wrap;
  font-size: 32px;
}

.color_para {
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #c7923e;
}

@media screen  and (max-width:320px){

}
