.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../Images/lake.jpg");
  background-size: cover;
  background-position: center;
  height: 590px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    position: relative;
}

.hero_Title {
  width: 80%;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: 0.003em;
  color: #fff;
}

.hero_para {
  width: 79%;
  margin-top: 1px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: lighter;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0.005em;
  color: #ffffff;
}

.search_Content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 65%;
  min-height: 88px;
  background: #304f47;
  border-radius: 8px;
  gap: 44px;
  left: 199px;
  bottom: -31px;
  position: absolute;
}

.guest__content {
 font-size: 1.3vw;
}

.inputcontent {
  box-sizing: border-box;
  width: 16vw;
  height: 56px;
  background: #fdfdfd;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
}

input::placeholder {
  position: absolute;
  left: 25px;
  top: 17px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #9a9ab0;
}

.hero__search_icon {
  position: absolute;
  left: 320px;
  top: 35px;
  font-size: 20px;
}

.guest,
.Date,
.Package {
  color: #9a9ab0;
}

.adult,
.format,
.all {
  color: #fff;
}

.hero__arrow {
  position: absolute;
  margin-left: 10px;
  margin-top: 5px;
}

.hero__elipse {
  position: absolute;
  background-color: #304f47;
  left: 500px;
}

.bar_para {
  display: flex;
  gap: 81px;
}

.Textcontent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-items: flex-end;
  width: 50%;
}

@media screen and (width: 768px) {
  .search_Content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 95%;
    min-height: 88px;
    background: #304f47;
    border-radius: 8px;
    gap: 44px;
    left: 19px;
    bottom: -31px;
    position: absolute;
  }
}
/* @media screen and (679px) {
  .search_Content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 65%;
    min-height: 88px;
    background: #304f47;
    border-radius: 8px;
    gap: 44px;
    left: 250px;
    bottom: -31px;
    position: absolute;
  }
} */

@media screen and (max-width: 425px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Textcontent {
    width: 90%;
  }

  .hero_Title,
  .hero_para {
    font-size: 30px;
    width: 100%;
  }
  .search_Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    min-height: 78px;
    background: #304f47;
    border-radius: 8px;
    gap: 10px;
    margin-left: -137px;
  }

  .inputcontent {
    box-sizing: border-box;
    max-width: 250px;
    margin: auto;
    height: 56px;
    width: 100%;
    background: #fdfdfd;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
  }

  .hero__search_icon {
    position: absolute;
    left: 233px;
    top: 35px;
    font-size: 20px;
  }

  .bar_para {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
