.hero {
  margin-top: 125px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../Images/lake.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero_Title {
  width: 750px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: 0.003em;
  color: #ffffff;
}

.hero_para {
  width: 50%;
  margin-top: 1px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: lighter;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0.005em;
  color: #ffffff;
}

.search_Content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1053px;
  height: 88px;
  background: #304f47;
  border-radius: 8px;
  gap: 90px;
}

.inputcontent {
  box-sizing: border-box;
  width: 350px;
  height: 56px;
  background: #fdfdfd;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
}
