.Navbar__Menu {
  max-width: 1400px;
  margin: auto;
}

.menuContent {
  display: flex;
  flex-wrap: wrap;
   align-items: center;
  justify-content: space-between;
  width: 97%;
}

.menu {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.icons {
  display: flex;
  gap: 20px;
}

.menuChild {
  height: 24px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 300%;
  letter-spacing: 0.005em;
  color: #304f47;
  text-decoration: none;
  transition: border-bottom 0.5s;
  font-weight: 400;
}

.menuChild:hover {
  font-size: larger;
  width: 44px;
  left: 120px;
  top: 120px;
  margin-top: 12px;
  border-bottom: 3px solid #304f47;
}
