.Footer__Container {
  margin-top: 160px;
  background: #304f47;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.FooterContent {
  max-width: 11000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  padding: 20px;
}

.FooterLeft {
  display: flex; 
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.Footer__title {
  width: 70%;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 39px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #ffffff;
}

.Footer__sub_title {
  width: 70%;
  height: 155px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0.005em;
  color: #ffffff;
}

.Footer__sub_sub_title {
  width: 70%;
  height: 25.75px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0.005em;
  color: #ffffff;
}

.Input__Email {
  flex-wrap: wrap;
  width: 70%;
  height: 57.67px;
  background: #ffffff;
  border-radius: 8px;
  border: none;
}

::placeholder {
  width: 185px;
  height: 20.6px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.005em;
  color: #9a9ab0;
}



.Btn__Footer {
  background: #c7923e;
  border-radius: 8px;
  border: none;
  width: 55.44px;
}

.Submit__Email {
  display: flex;
  gap: 15.58px;
  flex-wrap: wrap;
  width: 70%;
}

.FooterImages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Footer__menu {
  display: flex;
  flex-wrap: wrap;
}

.para {
  width: 70%;
  height: 41.19px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.005em;
  color: #ffffff;
}

.FooterList {
  width: 97px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #ffffff;
}

.Footer__LastItem {
  text-align: center;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.005em;
  color: #ffffff;
}

@media screen and (max-width : 425px) {
  .FooterLeft {
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .Footer__sub_sub_title {
    width: 70%;
    height: 25.75px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0.005em;
    color: #ffffff;
    margin-top: 130px;
  }


}
